<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013204233475-k9e7rlkgq995bthh9v9ns1u3tvo5chh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013204233475-k9e7rlkgq995bthh9v9ns1u3tvo5chh2</string>
	<key>API_KEY</key>
	<string>AIzaSyBdNZKigPJ4t4Xya69-WvVyng7-foMz4Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>1013204233475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamburger.jamnotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jamnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>jamnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013204233475:ios:ca27302eaabcc562658d36</string>
</dict>
</plist>